@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

*{
    font-family: 'MedievalSharp', serif;
}

h1{
    font-family: 'Caesar Dressing', serif;
}